.header {
    position: relative;
    width: 100%;
    height: 300px; 
    background-size: cover;
    background-position: center;
  }
  
  .header-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: start;
  }
  
  @media (max-width:992px) {
    .header-text {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      text-align: start;
    }
  }
  .header-text h1 {
    color: #fff;
    font-size: 32px; 
    font-weight: bold;
    display: flex;
    align-items: start;
    padding-bottom: none;
  }
  .header-text p {
    color: #fff;
    font-size: 1.1rem;
    padding-top: none;
   
  }
  