
    .seprater{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
         font-size: large;
    }

    hr{
       
       font-size: 1.5rem;
       border: .2rem solid rgba(219, 19, 58, 255) !important;
    }

    .bord-list{
        display: flex;
        flex-wrap: wrap;
    }

    .items{
        flex-basis: 33.33%;
    }
    @media (max-width:767px){
        .bord-list {
           display: "flex";
           flex-direction: column;
        }
    }

    .director-name{
        font-size: 2rem;
        font-family: cursive;
        display: flex;
        justify-content: end;
    }

    .director-pic{
        width: 23rem;
        border-radius: 10px;
    }
    .director-text{
        font-size: 1.7rem;
        margin-top: 10rem;
    }
    .mission-text{
        font-size: 1.3rem;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .member-heading{
        font-size: 1.3rem;
        font-weight: bold;
        color: darkslategray;
    }
    .member{
        font-size: 1rem;
        margin: 0;
    }
    .member-name{
        margin-top: 0;
    }
    
   .icons{
    display: flex;
    justify-content: space-around;
    
   }
   .about-header{
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
   }
   .abouticon{
   font-size: 2rem;
    background-color: transparent;
    color: rgba(219, 19, 58, 255);
   }
    
   .leaders{
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .leadership{
    color: rgba(219, 19, 58, 255);
}
   @media (max-width:767px){
    .bord-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .items{
        display: flex;
        flex-direction: column;
       
    }
   
    .director-text{
        text-align: center;
    }
   }
   