.home-container {
    position: relative;
    min-height: 100vh;
  }
  .about-head{
    display: flex;
    padding-left: 4rem;
    font-size: 2.1rem;
    justify-content: flex-start;
    align-items: start;
  }
  .about-text{
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: start;
    justify-content: flex-start;
    font-size: 1.1rem;
  }
  .action-buttons-container {
    position: fixed;
    top: 30%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: top 0.3s ease-out;
  }
  


  .action-buttons-inner {
    text-align: right;
    padding-right: 20px;
    margin-top: 40rem;
  }
  .figures {
    background-image: url('../../Images/bg-counters.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 400px;
   align-items: center;
   justify-content: center;
  }
  
  .figure-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  
  }
  .firstfigure{
   display: flex;
   flex-direction: column;
   margin-top: 8rem;
  }
  .figure-text{
    color: white;
    font-size: 1.1rem;
  }
  .figure{
    color: white;
    font-size: 3rem;
  }
 
  @media (max-width: 768px) {
    .figures{
       background-position: center;
       height: auto;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .figure-content {
      flex-direction: column;
    }
  
    .firstfigure {
      margin-top: 4rem;
    }
    .about-head{
      display: flex ;
      align-items: center;
      justify-content: center;
      padding-left: 0;
    }
  }
   .contact-info{
    display: flex;
    flex-direction: row;
   
   }
  @media (max-width:787px){
    .action-buttons-container{
      display: none;
                                           
    }
    .contact-info{
      display: flex;
      flex-direction: column;
    }
   
  }
 .form-home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: auto;
 }
  
 .contact-heading{
  font-size: 2.5rem;
  font-weight: 500;
 }

 .map-container{
  display: flex;
  height: 94%;
  width: 100%;
 }