.footer {
	width: 100%;
	background: rgba(219, 19, 58, 255);
	display: block;
  }
  
  .wave-container {
	position: relative;
	height: 20px;
	overflow: hidden;
  }
  
  /* .wave {
	position: absolute;
	top: -5px;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, #b61010 0%, #ec3a3a 30%, #bd0d0d 100%);
	background-size: 50% 100%;
	animation: wave-animation 2s linear infinite;
  } */
  
  .inner-footer {
	width: 95%;
	margin: auto;
	/* padding: 30px 10px; */
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
  }
  
  .footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
  }
  
  .footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
  }
  
  .footer-items h1 {
	color: #fff;
  }
  
  .footer-logo {
	height: 120px;
	margin-right: 10px;
  }
/*   
  .border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
	margin-left: 5rem;
  } */
  
  ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
  }
  
  ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
  }
  
  ul a:hover {
	color: #ff9800;
  }
  
  ul li {
	margin: 10px 0;
	height: 25px;
  }
  
  .social-media {
	width: 100%;
	color: #fff;
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: 2rem;
  }
  
  .social-media a {
	text-decoration: none;
  }
  
  .social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
  }
  .footer-links{
	padding-left: 0 !important;
  }
  .footer-icon {
	font-size: 2rem;
	color: #fff;
  }
  
  .social-media i:hover {
	transform: scale(1.5);
  }
  
  .footer-bottom {
	padding: 10px;
	background: rgba(219, 19, 58, 255);
	color: #fff;
	font-size: 12px;
	text-align: center;
  }
  
  @keyframes wave-animation {
	0% {
	  background-position-x: 100%;
	}
	100% {
	  background-position-x: 20%;
	}
  }
  
  @media screen and (max-width: 1275px) {
	.footer-items {
	  width: 50%;
	}
  }
  
  @media screen and (max-width: 660px) {
	.footer-items {
	  width: 100%;
	}
  }
  